.app-footer {
  padding: 12px 16px;
  color: #333;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
  background-color: #ffb7b7;
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;

  margin: 0;
  overflow: hidden;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  height: 74px;
  max-height: 74px;
  line-height: 50px;
}
